/* Variables */
:root {
    --heading-font-family: 'Playfair Display', sans-serif;
    --base-font-family: 'Poppins', sans-serif;
    --heading-font-weight: 400;
    --base-font-weight: 400;
    --bold-font-weight: 600;
    --base-font-size: 16px;
    --secondary-font-size: 14px;
    --color-black: #4a4a4a;
    --color-white: #fff;
    --color-1: #6C32A6;
    --color-2: #58328C;
    --color-3: #04B2D9;
    --color-4: #03A6A6;
    --color-5: #efe7dc;
    --color-6: #f9f3ea;
    --base-color: #000000;
    --base-spacing: 20px;
    --half-spacing: calc(var(--base-spacing) / 2);
    --double-spacing: calc(var(--base-spacing) * 2);
    --base-transition: 0.3s ease-in 0s;
    --container-max-width: 800px;
}

/* Resets */
body {
    margin: 0;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
time {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
}

p,
span,
b,
strong,
a,
small {
    font-family: var(--base-font-family);
}

b,
strong {
    font-weight: var(--bold-font-weight);
}

h1,
h2,
h3 {
    color: var(--color-1);
}

h4,
time {
    color: var(--color-4);
}

p,
span,
time {
    font-size: var(--base-font-size);
    font-weight: var(--base-font-weight);
}

a {
    transition: color var(--base-transition);
}

a:hover {
    color: var(--color-1);
}

/* Navigation menus */
.menu-header-navigation-container {
    background-color: var(--color-white);
}

.header-nav,
.footer-nav {
    list-style: none;
    margin: 0 auto;
    display: flex;
    gap: var(--base-spacing);
    width: 100%;
    max-width: var(--container-max-width);
}

.header-nav {
    justify-content: flex-end;
    padding: var(--half-spacing) 0;
}

.footer-nav {
    flex-direction: column;
    padding: var(--double-spacing) 0;
}

.footer-nav .menu-item > a:hover {
    color: var(--color-1);
}

.menu-item {
    position: relative;
}

.menu-item > a {
    font-size: var(--base-font-size);
    line-height: 1;
    color: var(--color-black);
    text-decoration: none;
}

.menu-item > a:hover {
    color: var(--color-4);
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 28px 0 0 -10px;
    padding: var(--half-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--half-spacing);
    background-color: var(--color-5);
    min-width: 180px;
    visibility: hidden;
    opacity: 0;
    transition: visibility var(--base-transition), opacity var(--base-transition);
}

.menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu a {
    color: var(--color-black);
    text-decoration: none;
    font-size: var(--secondary-font-size);
    line-height: 1;
}

.sub-menu .menu-item > a:hover {
    color: var(--color-1);
}

/* Layout */
html, body {
    height: 100%;
}

html {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-6);
}

.container {
    margin: 0 auto;
    padding: var(--base-spacing);
    width: 100%;
    max-width: var(--container-max-width);
}

/* Footer */
.footer {
    background-color: var(--color-5);
}

.footer__copyright {
    border-top: 1px solid var(--color-black);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: var(--base-spacing) 0;
}

/* Archive */

.archive__heading {
    font-size: 2em;
}

.archive__pagination {
    border-top: 1px solid var(--color-black);
    margin: 20px 0 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.archive__link,
.archive__pagination a {
    font-family: var(--heading-font-family);
    color: var(--color-black);
}

.archive__link:hover,
.archive__pagination a:hover {
    color: var(--color-4);
}

/* Pill */
.pill {
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    color: var(--color-black);
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color var(--base-transition), color var(--base-transition);
}

.pill:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}

/* Responsive */
@media only screen and (min-width: 738px) {

}