@tailwind base;
@tailwind components;
@tailwind utilities;

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
time {
    @apply font-heading;
}

h1,
h2,
h3 {
    @apply text-royalPurple;
}

h4,
time {
    @apply text-persianGreen;
}

a {
    @apply transition-colors;
}

a:hover {
    @apply text-royalPurple;
}

/* Navigation menus */

.header-nav,
.footer-nav {
    @apply my-0 mx-auto flex gap-5 w-full max-w-screen-lg;
}

.header-nav {
    justify-content: flex-end;
    padding: var(--half-spacing) 0;
}

.footer-nav {
    flex-direction: column;
    padding: var(--double-spacing) 0;
}

.footer-nav .menu-item > a:hover {
    color: var(--color-1);
}

.menu-item {
    position: relative;
}

.menu-item > a {
    font-size: var(--base-font-size);
    line-height: 1;
    color: var(--color-black);
    text-decoration: none;
}

.menu-item > a:hover {
    color: var(--color-4);
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    margin: 28px 0 0 -10px;
    padding: var(--half-spacing);
    display: flex;
    flex-direction: column;
    gap: var(--half-spacing);
    background-color: var(--color-5);
    min-width: 180px;
    visibility: hidden;
    opacity: 0;
    transition: visibility var(--base-transition), opacity var(--base-transition);
}

.menu-item-has-children:hover .sub-menu {
    visibility: visible;
    opacity: 1;
}

.sub-menu a {
    color: var(--color-black);
    text-decoration: none;
    font-size: var(--secondary-font-size);
    line-height: 1;
}

.sub-menu .menu-item > a:hover {
    color: var(--color-1);
}

/* Layout */

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-6);
}

.container {
    margin: 0 auto;
    padding: var(--base-spacing);
    width: 100%;
    max-width: var(--container-max-width);
}

/* Footer */
.footer {
    background-color: var(--color-5);
}

.footer__copyright {
    border-top: 1px solid var(--color-black);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: var(--container-max-width);
    padding: var(--base-spacing) 0;
}

/* Archive */
.archive__pagination {
    border-top: 1px solid var(--color-black);
    margin: 20px 0 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.archive__link,
.archive__pagination a {
    font-family: var(--heading-font-family);
    color: var(--color-black);
}

.archive__link:hover,
.archive__pagination a:hover {
    color: var(--color-4);
}

/* Pill */
.pill-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--half-spacing);
}

.pill {
    background-color: transparent;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    color: var(--color-black);
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color var(--base-transition), color var(--base-transition);
}

.pill:hover {
    color: var(--color-white);
    background-color: var(--color-black);
}